.top-header {
    margin-left: 1em;
    margin-right: 1em;
}

.breadcrumb:before {
    font-family: FontAwesome;
    font-size: 1em;
    content: '\f054';
    margin-left: 1em;
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.directory:before {
    font-family: FontAwesome;
    font-size: 1em;
    margin-right: 1.74em;
    content: '\f054';
}

.symlink:before {
    font-family: FontAwesome;
    font-size: 1em;
    margin-right: 1.74em;
    content: '\f054';
}

.item:before {
    font-family: FontAwesome;
    font-size: 1em;
    margin-right: 1.5em;
    content: '\f019';
}

.homelink:after {
    font-family: FontAwesome;
    font-size: 1em;
    content: '\f015';
    width: 20px;
}
